$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  padding-left: 10%;
  padding-right: 10%;
}

td,
th {
  height: 50px;
  text-align: center;
}

div {
  clear: left;
  margin-left: 20%;
  width: 60%;
}

form {
  margin: 10px;
}

.game-mgmt-button {
  float: left;
}
